src/main/resources/jaxb/icecat-interface.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ICECAT-interface">
	<xs:complexType>
	  <xs:choice>
		<xs:element name="Response" type="Response" />
		<xs:element name="Product" type="Product" />
	  </xs:choice>
	</xs:complexType>
  </xs:element>

  <xs:complexType name="Response">
	<xs:all>
	  <xs:element name="DistributorList" type="DistributorList" minOccurs="0" />
	  <xs:element name="LanguageList" type="LanguageList" minOccurs="0" />
	  <xs:element name="MeasuresList" type="MeasuresList" minOccurs="0" />
	  <xs:element name="FeaturesList" type="FeaturesList" minOccurs="0" />
	  <xs:element name="FeatureGroupsList" type="FeatureGroupsList" minOccurs="0" />
	  <xs:element name="CategoriesList" type="CategoriesList" minOccurs="0" />
	  <xs:element name="SuppliersList" type="SuppliersList" minOccurs="0" />
	  <xs:element name="CategoryFeaturesList" type="CategoryFeaturesList" minOccurs="0" />
	  <xs:element name="SupplierCategoriesList" type="SupplierCategoriesList" minOccurs="0" />
	  <xs:element name="ProductsList" type="ProductsList" minOccurs="0" />
	  <xs:element name="ProductsListLookup" type="ProductsListLookup" minOccurs="0" />
	  <xs:element name="ProductsStatistic" type="ProductsStatistic" minOccurs="0" />
	  <xs:element name="DescribeProductsResponse" type="DescribeProductsResponse" minOccurs="0" />
	  <xs:element name="StatisticQueryListResponse" type="StatisticQueryListResponse" minOccurs="0" />
	  <xs:element name="StatisticQueryDatesListResponse" type="StatisticQueryDatesListResponse" minOccurs="0" />
	  <xs:element name="StatisticQueryDateDataReportResponse" type="StatisticQueryDateDataReportResponse" minOccurs="0" />
	  <xs:element name="SupplierProductFamiliesList" type="SupplierProductFamiliesList" minOccurs="0" />
	  <xs:element name="ProductsComplaintResponse" type="ProductsComplaintResponse" minOccurs="0" />
	  <xs:element name="FulltextProductsSearchResponse" type="FulltextProductsSearchResponse" minOccurs="0" />
	  <xs:element name="FeatureValuesVocabularyList" type="FeatureValuesVocabularyList" minOccurs="0" />
	</xs:all>
	<xs:attribute name="Status" type="xs:string" use="required" />
	<xs:attribute name="Request_ID" type="xs:integer" use="required" />
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Date" type="xs:string" use="required" />
	<xs:attribute name="Error" type="xs:string" />
  </xs:complexType>


  <xs:complexType name="LanguageList">
        <xs:sequence>
        <xs:element name="Language" type="Language" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
  </xs:complexType>

   <xs:complexType name="Language">
        <xs:sequence>
        <xs:element name="Countries" type="Countries" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>   
		<xs:attribute name="ID" type="xs:integer" use="required" />
		<xs:attribute name="Code" type="xs:string" />
		<xs:attribute name="ShortCode" type="xs:string" />
		<xs:attribute name="Sid" type="xs:string" />
   </xs:complexType>


        <xs:complexType name="Countries">
          <xs:sequence>
            <xs:element name="Country" minOccurs="0" maxOccurs="unbounded" >
            <xs:complexType>
		          <xs:attribute name="ID" type="xs:integer" use="required" />
		          <xs:attribute name="Code" type="xs:string" />
		          <xs:attribute name="System_Of_Measurement" type="xs:string" />
            </xs:complexType>		                          
            </xs:element>
          </xs:sequence>
        </xs:complexType>

  <xs:complexType name="DistributorList">
	<xs:sequence>
	  <xs:element name="Distributor" minOccurs="0" maxOccurs="unbounded" >
        <xs:complexType>
		  <xs:attribute name="ID" type="xs:integer" use="required" />
		  <xs:attribute name="Code" type="xs:string" use="required" />
		  <xs:attribute name="Name" type="xs:string" use="required" />
        </xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Name">
	<xs:simpleContent>
	  <xs:extension base="xs:string">
		<xs:attribute name="ID" type="xs:integer" />
		<xs:attribute name="langid" type="xs:integer" />
		<xs:attribute name="Value" type="xs:string" />
	  </xs:extension>
	</xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MeasuresList">
	<xs:sequence>
	  <xs:element name="Measure" type="Measure" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Measure">
	<xs:all>
	  <xs:element name="Sign" type="xs:string" maxOccurs="1" minOccurs="0" />
	  <xs:element name="Signs" type="Signs" maxOccurs="1" minOccurs="0"/>
	  <xs:element name="Names" type="Names" maxOccurs="1" minOccurs="0"/>
	  <xs:element name="Descriptions" type="Descriptions" maxOccurs="1" minOccurs="0"/>
	</xs:all>
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Sign" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="Signs">
	<xs:sequence>
	  <xs:element name="Sign" type="Sign" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Sign">
	<xs:simpleContent>
	  <xs:extension base="xs:string">
		<xs:attribute name="ID" type="xs:integer" />
		<xs:attribute name="langid" type="xs:integer" />
		<xs:attribute name="Value" type="xs:string" />
	  </xs:extension>
	</xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Names">
	<xs:sequence>
	  <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Descriptions">
	<xs:sequence>
	  <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Description">
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="langid" type="xs:integer" use="required" />
	<xs:attribute name="Value" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="FeaturesList">
	<xs:sequence>
	  <xs:element name="Feature" type="Feature" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>


  <xs:complexType name="Feature">
	<xs:sequence>
	  <xs:element name="Descriptions" type="Descriptions" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="Measure" type="Measure" minOccurs="0" maxOccurs="1" />
	  <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="Names" type="Names" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="RestrictedValue" type="RestrictedValue" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="RestrictedValues" type="RestrictedValues" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="LimitDirection" type="xs:integer" />
	<xs:attribute name="Searchable" type="xs:boolean" />
	<xs:attribute name="CategoryFeatureGroup_ID" type="xs:integer" />
	<xs:attribute name="No" type="xs:integer" />
	<xs:attribute name="Class" type="xs:boolean" />
	<xs:attribute name="CategoryFeature_ID" type="xs:integer" />
	<xs:attribute name="Type" type="xs:string" />
	<xs:attribute name="Mandatory" type="xs:integer" />
	<xs:attribute name="Use_Dropdown_Input" type="xs:string" />
	<xs:attribute name="ValueSorting" type="xs:integer" />
  </xs:complexType>

  <xs:complexType name="LocalValue">
    <xs:sequence>
      <xs:element name="Measure" type="Measure" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="RestrictedValues">
	<xs:sequence>
	  <xs:element name="RestrictedValue" type="RestrictedValue" minOccurs="1" maxOccurs="unbounded" />
	</xs:sequence>
    <xs:attribute name="ValueSorting" type="xs:integer" />
  </xs:complexType>

  <xs:complexType name="RestrictedValue">
	<xs:simpleContent>
	  <xs:extension base="xs:string">
	  </xs:extension>
	</xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CategoriesList">
	<xs:sequence>
	  <xs:element name="Category" type="Category" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Category">
	<xs:sequence>
	  <xs:element name="CategoryFeatureGroup" type="CategoryFeatureGroup" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Feature" type="Feature" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Keywords" type="Keywords" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Names" type="Names" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="ParentCategory" type="ParentCategory" minOccurs="0" maxOccurs="1" />
	  <xs:element name="UNCATID" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="VirtualCategories" type="VirtualCategories" minOccurs="0" maxOccurs="1" />
	</xs:sequence>
	<xs:attribute name="UNCATID" type="xs:string" />
	<xs:attribute name="Searchable" type="xs:boolean" />
	<xs:attribute name="Visible" type="xs:boolean" />
	<xs:attribute name="Score" type="xs:integer" />
	<xs:attribute name="ThumbPic" type="xs:anyURI" />
	<xs:attribute name="ID" type="xs:integer" />
	<xs:attribute name="LowPic" type="xs:anyURI" />
  </xs:complexType>

  <xs:complexType name="ParentCategory">
	<xs:sequence>
	  <xs:element name="Names" type="Names" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" use="required" />
  </xs:complexType>

  <xs:complexType name="Keywords">
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="langid" type="xs:integer" use="required" />
	<xs:attribute name="Value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="CategoryFeatureGroup">
	<xs:sequence>
	  <xs:element name="FeatureGroup" type="FeatureGroup" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="No" type="xs:integer" />
	<xs:attribute name="ID" type="xs:integer" />
	<xs:attribute name="FeatureGroup" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="FeatureGroupsList">
    <xs:sequence>
      <xs:element name="FeatureGroup" type="FeatureGroup" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeatureGroup">
	<xs:sequence>
	  <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="sid" type="xs:integer" use="optional" />
  </xs:complexType>

  <xs:complexType name="SuppliersList">
	<xs:sequence>
	  <xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Supplier">
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Name" type="xs:string" />
	<xs:attribute name="name" type="xs:string" />
	<xs:attribute name="LogoPic" type="xs:anyURI" />
	<xs:attribute name="Sponsor" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="CategoryFeaturesList">
	<xs:sequence>
	  <xs:element name="Category" type="Category" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="Code" type="xs:integer" use="required" />
  </xs:complexType>

  <xs:complexType name="SupplierCategoriesList">
	<xs:sequence>
	  <xs:element name="Category" type="Category" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="Code" type="xs:integer" use="required" />
  </xs:complexType>

  <xs:complexType name="ProductsList">
	<xs:sequence>
	  <xs:element name="Product" type="Product" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <!-- ##################################################################################################################################  -->


  <xs:complexType name="Product">
	<xs:sequence>
	  <xs:element name="Category" type="Category" minOccurs="1" maxOccurs="unbounded" />
	  <xs:element name="CategoryFeatureGroup" type="CategoryFeatureGroup" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="EANCode" type="EANCode" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="FeatureLogo" type="FeatureLogo" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="ProductBullets" type="ProductBullets" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="ProductBullets_HTMLs" type="ProductBullets_HTMLs" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="ReasonsToBuy" type="ReasonsToBuy" minOccurs="0" maxOccurs="1"/>

	  <xs:element name="ProductBundled" type="ProductBundled" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="ProductDescription" type="ProductDescription" minOccurs="1" maxOccurs="unbounded" />
	  <xs:element name="ProductFamily" type="ProductFamily" minOccurs="0" maxOccurs="1" />
	  <xs:element name="ProductFeature" type="ProductFeature" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="ProductGallery" type="ProductGallery" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="ProductMultimediaObject" type="ProductMultimediaObject" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="ProductRelated" type="ProductRelated" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="SummaryDescription" type="SummaryDescription" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Supplier" type="Supplier" minOccurs="1" maxOccurs="1" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Name" type="xs:string" use="required" />
	<xs:attribute name="Prod_id" type="xs:string" use="required" />
	<xs:attribute name="ThumbPic" type="xs:anyURI" use="required" />
	<xs:attribute name="Quality" type="xs:string" />
	<xs:attribute name="Code" type="xs:integer" />
	<xs:attribute name="EANCode" type="xs:string" />
	<xs:attribute name="HighPic" type="xs:anyURI" />
	<xs:attribute name="LowPic" type="xs:anyURI" />
	<xs:attribute name="Score" type="xs:integer" />
	<xs:attribute name="ProductsDescription" type="xs:string" />
	<xs:attribute name="Relevance" type="xs:integer" />
	<xs:attribute name="LowPicSize" type="xs:integer" />
	<xs:attribute name="LowPicWidth" type="xs:integer" />
	<xs:attribute name="LowPicHeight" type="xs:integer" />
	<xs:attribute name="HighPicSize" type="xs:integer" />
	<xs:attribute name="HighPicWidth" type="xs:integer" />
	<xs:attribute name="HighPicHeight" type="xs:integer" />
	<xs:attribute name="ThumbPicSize" type="xs:integer" />
	<xs:attribute name="ErrorMessage" type="xs:string" />
	<xs:attribute name="Map_product_id" type="xs:integer" />
	<xs:attribute name="ReleaseDate" type="xs:string" />
	<xs:attribute name="BrandStartOfSaleDate" type="xs:string" />
	<xs:attribute name="BrandEndOfSaleDate" type="xs:string" />
	<xs:attribute name="Title" type="xs:string" />
	<xs:attribute name="Pic500x500" type="xs:anyURI" />
	<xs:attribute name="Pic500x500Size" type="xs:integer" />
	<xs:attribute name="Pic500x500Width" type="xs:integer" />
	<xs:attribute name="Pic500x500Height" type="xs:integer" />
  </xs:complexType>
	
  <xs:complexType name="ReasonsToBuy">
	<xs:sequence>
	  <xs:element name="ReasonToBuy" type="ProductBullet" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductBullets">
	<xs:sequence>
	  <xs:element name="ProductBulletGroup" type="ProductBulletGroup" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductBulletGroup">
	<xs:sequence>
	  <xs:element name="ProductBullet" minOccurs="0" type="ProductBullet" maxOccurs="unbounded"/>
	</xs:sequence>
	<xs:attribute name="Class"  type="xs:string"  use="optional" />
	<xs:attribute name="ID"     type="xs:integer" use="optional" />
	<xs:attribute name="Value"   type="xs:string"  use="optional" />
	<xs:attribute name="langid" type="xs:int"     use="optional" />
  </xs:complexType>
  <xs:complexType name="ProductBullet">
	<xs:attribute name="Class"  type="xs:string" use="optional" />
	<xs:attribute name="ID"     type="xs:int"    use="optional" />
	<xs:attribute name="Value"   type="xs:string" use="optional" />
	<xs:attribute name="No"     type="xs:int"    use="optional" />
	<xs:attribute name="Title"  type="xs:string" use="optional" />
	<xs:attribute name="langid" type="xs:int"    use="optional" />
    <xs:attribute name="HighPic"  type="xs:string" use="optional" />
    <xs:attribute name="HighPicSize" type="xs:int"    use="optional" />	
  </xs:complexType>


  <xs:complexType name="ProductBullets_HTMLs">
	<xs:sequence>
	  <xs:element name="ProductBullets_HTML" type="ProductBullets_HTML" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductBullets_HTML">
	<xs:attribute name="Class"  type="xs:string" use="optional" />
	<xs:attribute name="langid"     type="xs:int"    use="optional" />
  </xs:complexType>

  <xs:complexType name="VirtualCategories">
	<xs:sequence>
	  <xs:element name="VirtualCategory" type="VirtualCategory" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="VirtualCategory">
	<xs:sequence>
	    <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" />
	<xs:attribute name="UNCATID" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ProductRelated">
	<xs:sequence>
	  <xs:element name="Product" type="ProductAffiliated" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" />
	<xs:attribute name="Category_ID" type="xs:integer" />
	<xs:attribute name="Reversed" type="xs:integer" />
	<xs:attribute name="Preferred" type="xs:integer" />
	<xs:attribute name="Order" type="xs:integer" />
  </xs:complexType>

  <xs:complexType name="ProductAffiliated">
	<xs:all>
	  <xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="1" />
	</xs:all>
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Name" type="xs:string" use="required" />
	<xs:attribute name="Prod_id" type="xs:string" use="required" />
	<xs:attribute name="ThumbPic" type="xs:anyURI" />
	<xs:attribute name="Quality" type="xs:string" />
	<xs:attribute name="Code" type="xs:integer" />
	<xs:attribute name="HighPic" type="xs:anyURI" />
	<xs:attribute name="LowPic" type="xs:anyURI" />
	<xs:attribute name="Score" type="xs:integer" />
	<xs:attribute name="ProductsDescription" type="xs:string" />
	<xs:attribute name="Relevance" type="xs:integer" />
	<xs:attribute name="LowPicSize" type="xs:integer" />
	<xs:attribute name="HighPicSize" type="xs:integer" />
	<xs:attribute name="ThumbPicSize" type="xs:integer" />
	<xs:attribute name="ErrorMessage" type="xs:string" />
	<xs:attribute name="ReleaseDate" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ProductBundled">
	<xs:sequence>
	  <xs:element name="Product" type="Product" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" />
  </xs:complexType>

  <xs:complexType name="ProductDescription">
	<xs:attribute name="URL" type="xs:anyURI"/>
	<xs:attribute name="WarrantyInfo" type="xs:string"/>
	<xs:attribute name="ID" type="xs:integer"/>
	<xs:attribute name="PDFURL" type="xs:anyURI" />
	<xs:attribute name="PDFSize" type="xs:integer"/>
	<xs:attribute name="ManualPDFURL" type="xs:anyURI"/>
	<xs:attribute name="ManualPDFSize" type="xs:integer"/>
	<xs:attribute name="langid" type="xs:integer"/>
	<xs:attribute name="LongDesc" type="xs:string"/>
	<xs:attribute name="ShortDesc" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="SummaryDescription">
	<xs:all>
	  <xs:element name="LongSummaryDescription" type="SummaryDescriptionAttr" />
	  <xs:element name="ShortSummaryDescription" type="SummaryDescriptionAttr" />
	</xs:all>
  </xs:complexType>

  <xs:complexType name="SummaryDescriptionAttr" >
	<xs:simpleContent>
	  <xs:extension base="xs:string">
	    <xs:attribute name="langid" type="xs:integer" />
	  </xs:extension>
	</xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ProductFeature">
	<xs:sequence>
      <xs:element name="LocalValue" type="LocalValue" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Feature" type="Feature" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="CategoryFeatureGroup_ID" type="xs:integer" use="required" />
	<xs:attribute name="CategoryFeature_ID" type="xs:integer" use="required" />
	<xs:attribute name="Value" type="xs:string" use="required" />
	<xs:attribute name="Local_Value" type="xs:string" />
	<xs:attribute name="Presentation_Value" type="xs:string" />
	<xs:attribute name="No" type="xs:integer" use="required" />
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Local_ID" type="xs:integer" />
	<xs:attribute name="Localized" type="xs:boolean" use="required" />
	<xs:attribute name="Translated" type="xs:boolean" />
	<xs:attribute name="Mandatory" type="xs:boolean" />
	<xs:attribute name="Searchable" type="xs:boolean" />
  </xs:complexType>

  <xs:complexType name="FeatureLogo">
	<xs:all>
	  <xs:element name="Descriptions" type="Descriptions" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FeatureLogoValues" type="FeatureValuesList" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FeatureLogoCategories" type="FeatureLogoCategoriesList" minOccurs="0" maxOccurs="1"/>
	</xs:all>
	
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Feature_ID" type="xs:integer" use="required" />
	<xs:attribute name="Value" type="xs:string" use="optional" />
	<xs:attribute name="LogoPic" type="xs:anyURI" />
	<xs:attribute name="Link" type="xs:anyURI" />
	<xs:attribute name="Width" type="xs:integer" use="required" />
	<xs:attribute name="Height" type="xs:integer" use="required" />
	<xs:attribute name="Size" type="xs:integer" use="required" />
  </xs:complexType>
  
  <xs:complexType name="FeatureValuesList">
    <xs:sequence>
        <xs:element name="FeatureLogoValue" type="FeatureLogoValue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeatureLogoValue">
      <xs:attribute name="ID" type="xs:integer" use="required" />
  </xs:complexType>

  <xs:complexType name="FeatureLogoCategoriesList">
    <xs:sequence>
        <xs:element name="FeatureLogoCategory" type="FeatureLogoCategory" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeatureLogoCategory">
      <xs:attribute name="catid" type="xs:integer" use="required" />
  </xs:complexType>
  
  
  <xs:complexType name="ProductFamily">
	<xs:sequence>
	  <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="ParentProductFamily" type="ParentProductFamily" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Supplier" type="Supplier" minOccurs="0" maxOccurs="unbounded" />
	  <xs:element name="Series" type="Series" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="ThumbPic" type="xs:anyURI"/>
	<xs:attribute name="LowPic" type="xs:anyURI"/>
	<xs:attribute name="Category_ID" type="xs:integer"/>
	<xs:attribute name="Name" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ParentProductFamily">
	<xs:attribute name="ID" type="xs:integer" use="required" />
  </xs:complexType>

  <xs:complexType name="Series">
	<xs:sequence>
	  <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="ID" type="xs:integer" use="required" />
  </xs:complexType>

  <xs:complexType name="ProductGallery">
	<xs:sequence>
	  <xs:element name="ProductPicture" minOccurs="0" maxOccurs="unbounded" >
		<xs:complexType>
		  <xs:attribute name="ProductPicture_ID" type="xs:string" use="required" />
		  <xs:attribute name="Pic" type="xs:anyURI" use="required" />
		  <xs:attribute name="ThumbPic" type="xs:anyURI" use="required" />
		  <xs:attribute name="PicHeight" type="xs:integer" use="required" />
		  <xs:attribute name="PicWidth" type="xs:integer" use="required" />
		  <xs:attribute name="Size" type="xs:integer" use="required" />
		  <xs:attribute name="ThumbSize" type="xs:integer" />
		  <xs:attribute name="LowPic" type="xs:anyURI" />
		  <xs:attribute name="LowSize" type="xs:integer" />
		  <xs:attribute name="LowPicWidth" type="xs:integer" />
		  <xs:attribute name="LowPicHeight" type="xs:integer" />
		  <xs:attribute name="Pic500x500" type="xs:anyURI" />
		  <xs:attribute name="Pic500x500Size" type="xs:integer" />
		  <xs:attribute name="Pic500x500Width" type="xs:integer" />
		  <xs:attribute name="Pic500x500Height" type="xs:integer" />
		  <xs:attribute name="langid" type="xs:integer"  />
		  <xs:attribute name="logo" type="xs:integer"  />
		  <xs:attribute name="IsRich" type="xs:integer"  />
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductMultimediaObject">
	<xs:sequence>
	  <xs:element name="MultimediaObject" minOccurs="0" maxOccurs="unbounded" >
		<xs:complexType>
		  <xs:attribute name="MultimediaObject_ID" type="xs:integer" use="required" />
		  <xs:attribute name="URL" type="xs:anyURI" use="required" />
		  <xs:attribute name="Description" type="xs:string" use="required" />
		  <xs:attribute name="Size" type="xs:integer" use="required" />
		  <xs:attribute name="Date" type="xs:string" use="required" />
		  <xs:attribute name="langid" type="xs:integer" use="required" />
		  <xs:attribute name="ContentType" type="xs:string" use="required" />
		  <xs:attribute name="KeepAsURL" type="xs:boolean" use="required" />
		  <xs:attribute name="Type" type="xs:string" use="required" />
		  <xs:attribute name="Height" type="xs:integer" use="required" />
		  <xs:attribute name="Width" type="xs:integer" use="required" />
		  <xs:attribute name="IsRich" type="xs:integer" />
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="EANCode">
	<xs:attribute name="EAN" type="xs:integer" />
  </xs:complexType>

  <xs:complexType name="ProductsListLookup">
	<xs:sequence>
	  <xs:element name="Product" type="Product" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
	<xs:attribute name="CODE" type="xs:integer" />
  </xs:complexType>

  <xs:complexType name="ProductsStatistic">
	<xs:sequence>
	  <xs:element name="Product" type="Product" minOccurs="0" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="DescribeProductsResponse">
	<xs:sequence>
	  <xs:element name="DescribeProductResponse" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:attribute name="Product_id" type="xs:integer" />
		  <xs:attribute name="Status" type="xs:integer" />
		  <xs:attribute name="DescribeProductRequest_ID" type="xs:integer" />
		  <xs:attribute name="Error" type="xs:string" />
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="StatisticQueryListResponse">
	<xs:sequence>
	  <xs:element name="StatisticQuery" type="StatisticQuery" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
  </xs:complexType>

  <xs:element name="files" >
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="file" minOccurs="0" maxOccurs="unbounded" >
		  <xs:complexType>
			<xs:attribute name="path" type="xs:anyURI" />
			<xs:attribute name="Product_id" type="xs:integer" />
			<xs:attribute name="Updated" type="xs:string" />
			<xs:attribute name="Quality" type="xs:string" />
			<xs:attribute name="Supplier_id" type="xs:integer" />
			<xs:attribute name="Prod_ID" type="xs:string" />
		  </xs:complexType>
		</xs:element>
	  </xs:sequence>
	  <xs:attribute name="Generated" type="xs:integer" />
	</xs:complexType>
  </xs:element>

  <xs:complexType name="StatisticQuery">
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="Code" type="xs:integer" />
	<xs:attribute name="Period" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="StatisticQueryDate">
	<xs:attribute name="ID" type="xs:integer" use="required" />
	<xs:attribute name="StatisticQuery_ID" type="xs:integer" />
	<xs:attribute name="Date" type="xs:string" />
	<xs:attribute name="Period" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="StatisticQueryDatesListResponse">
	<xs:sequence>
	  <xs:element name="StatisticQueryDate" type="StatisticQueryDate" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="StatisticQueryDateDataReportResponse">
	<xs:sequence>
	  <xs:element name="StatisticQueryDateDataReport" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:sequence>
			<xs:element name="Body" type="Body" minOccurs="0" maxOccurs="unbounded"/>
		  </xs:sequence>
		  <xs:attribute name="StatisticQueryDate_ID" type="xs:integer" use="required" />
		  <xs:attribute name="Date" type="xs:string" />
		  <xs:attribute name="Code" type="xs:integer" />
		  <xs:attribute name="Period" type="xs:string" use="required" />
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="Body">
	<xs:sequence>
	  <xs:element name="Line" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:attribute name="Number" type="xs:string" />
		  <xs:attribute name="Level" type="xs:string" />
		  <xs:attribute name="Text" type="xs:string" use="required" />
		  <xs:attribute name="Count" type="xs:string" use="required" />
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="SupplierProductFamiliesList">
	<xs:sequence>
	  <xs:element name="ProductFamily" type="ProductFamily" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductsComplaintResponse">
	<xs:sequence>
	  <xs:element name="ProductComplaintReponse" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:attribute name="Product_id" type="xs:integer" />
		  <xs:attribute name="ComplaintStatus_ID" type="xs:integer" />
		  <xs:attribute name="ProductComplaintRequest_ID" type="xs:integer" />
		  <xs:attribute name="Error" type="xs:string" />
		  <xs:attribute name="Confirmation" type="xs:string" />
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="FulltextProductsSearchResponse">
	<xs:sequence>
	  <xs:element name="ProductsList" type="ProductsList" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeatureValuesVocabularyList">
	<xs:sequence>
	  <xs:element name="FeatureValuesVocabulary" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:sequence>
			<xs:element name="FeatureValue" type="FeatureValue" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="Key_Value" type="xs:string" use="required" />
		  <xs:attribute name="Group_ID" type="xs:integer" use="required" />
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeatureValue">
	<xs:attribute name="langid" type="xs:integer" />
	<xs:attribute name="ID" type="xs:integer" />
  </xs:complexType>

</xs:schema>
